/*CABECALHO*/
.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/*NOSSOS CURSOS*/
.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
}

/*VIDEO SOBRE*/
.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.videoSobre-video{
    flex-grow: 1;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

/*MAPA CURSOS*/
.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 255px;
}

/*FOOTER*/
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/*MOBILE*/
@media(max-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    
    }
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    
    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }
    
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    
    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        margin: 0;
    }
    
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}